.App {
    width: 100%;
    min-height: 100vh;
    background: #f1faee;
}
.module {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    outline: none;
    user-select: none;
}
.hide {
    opacity: 0.4;
}
.hovered {
    background: rgba(43, 0, 255, 0.167);
}
.error {
    color: rgb(251, 96, 96);
}